
.btnTeste {
    background-color: #004A8D;
    color: #F7941D;
    border-radius: 4px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;/* height: 100vh; /* Isso centralizará o conteúdo verticalmente na página */
    color: #F7941D;
    margin-bottom: 5px;
    margin-top: 5px;
}

.centered FaInstagram {
    margin-left: 25px;
    margin-right: 25px;
}