/*Pagina principal*/
.body {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.corpo {
    max-width: 100%;
    width: 90%;
}

.logo {
    display: flex;
    width: 100%;
}

.logo img {
    width: 75px;
    height: 49px;
}


.cabecalho {
    padding-bottom: 2%;
}

.item-carrinho {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-right: 20px;
}